// Link styling

$footer-colour: $black;

.app {
  color: $black;
}

a {
  &:link,
  &:visited,
  &:hover,
  &:active {
    color: $black;
  }
}

// Navbar link styling
.navbar {
  a {
    &:link,
    &:visited,
    &:hover,
    &:active {
      color: $black;
    }
  }
}

// Footer link styling
.footer {
  color: $footer-colour;
  a {
    &:link,
    &:visited,
    &:hover,
    &:active {
      color: $footer-colour;
    }
  }
}

.footer-header {
  color: $secondary;
  font-weight: bold;
}

.copyright-footer {
  color: $primary-two-dark;
}

// Artist Card styling
.artist-card {
  a {
    &:link,
    &:visited,
    &:hover,
    &:active {
      color: $tertiary;
    }
  }
}
