$footer-colour: $black;

html {
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

h1 {
  font-size: $mod_1 * $mod_1 * $mod_1 * $mod_1 * 1rem;
  @include fluid-type(
    $min_width,
    $max_width,
    $mod_1 * $mod_1 * $mod_1 * $min_font,
    $mod_2 * $mod_2 * $mod_2 * $min_font
  );
}

h2 {
  font-size: $mod_1 * $mod_1 * $mod_1 * 1rem;
  @include fluid-type(
    $min_width,
    $max_width,
    $mod_1 * $mod_1 * $mod_1 * $min_font,
    $mod_2 * $mod_2 * $mod_2 * $min_font
  );
}

h3 {
  font-size: $mod_1 * $mod_1 * 1rem;
  @include fluid-type(
    $min_width,
    $max_width,
    $mod_1 * $mod_1 * $min_font,
    $mod_2 * $mod_2 * $min_font
  );
}

.app {
  font-family: $base-font-family;
  color: $black;
}

@for $i from 1 through 6 {
  h#{7 - $i} {
    font-family: $header-font-family;
  }
}

// Link styling
a {
  &:link,
  &:visited,
  &:hover,
  &:active {
    color: $black;
  }
}

// Navbar link styling
.navbar {
  a {
    &:link,
    &:visited,
    &:hover,
    &:active {
      color: $black;
    }
  }
}

// Footer link styling
.footer {
  color: $footer-colour;
  a {
    &:link,
    &:visited,
    &:hover,
    &:active {
      color: $footer-colour;
    }
  }
}

.footer-header {
  color: $secondary;
  font-weight: bold;
}

.copyright-footer {
  color: $primary-two-dark;
}

// Artist Card styling
.artist-card {
  a {
    &:link,
    &:visited,
    &:hover,
    &:active {
      color: $tertiary;
    }
  }
}
