@import "scss/modules/all";

.footer {
  min-height: 75px;
  position: relative;
  width: 100; // Set the fixed height of the footer here

  hr {
    margin-top: 0;
  }
}

.footer-body {
  background-color: $primary-one;
  margin-top: 25px;
  padding: 25px 0;
}

.copyright-footer {
  background-color: $primary-two;
  padding: 25px 0;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}
