// Modules and Variables
@import "scss/partials/base";
// Partials
@import "scss/partials/typography";
@import "scss/partials/figures";

.app,
.body,
.body > div {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.app {
  background-color: $white;
  min-height: 100vh;
}

.body:after {
  content: ‘\00a0’;
  display: block;
  margin-top: var(— space);
  height: 0;
  visibility: hidden;
}
@media (min-width: 576px) {
  .body {
    margin: 0;
  }
}
